/* content영역 */
.contentArea p{line-height: 2em}
.contentArea{width:100%;margin:0 auto;padding:50px 0;overflow: hidden}
.summary{width:90%;margin:0 auto;text-align: center}
.contentArea img{margin: 40px 0 20px;width:100%}

.intro p{text-align: justify;width:85%;margin: 0 auto 20px}
.contentArea .subPopMenu{padding:10px 0}
.contentArea .subPopMenu .openPop{display: block;width:80%;height:40px;background: #ccc;color: #fff;text-align: center;
                                   padding: 10px 0 5px;margin:20px auto;border-radius: 15px}
.contentArea .subPopMenu .openPop i{margin-left: 20px;width:35px;height:27px;border-radius: 50%;padding-top:8px;transition: all .5s ease-out}
.contentArea .btn1{margin-left: 280px}
.contentArea .btn2{margin-left: 40px}


/* popup창 */

#content .modalBox{position: fixed; left: 0; top: 0; z-index: 40; width: 100%; height: 100%; 
    background: rgba(0,0,0,.45); display: none}
#content .subPopup{position:fixed;top:0;left:0;width: 100%;height:100%;background: #fff;z-index: 85; display:none;
                    overflow-y: scroll;padding-top: 50px}

#content .subPopup .popHeader{width:100%;height:45px;position:fixed;left: 0;top:0;background: #ecf3f5;box-shadow: 5px 5px 10px 2px rgba(0,0,0,.1);
                        z-index: 100;text-align: center;line-height: 45px;font-size: 1.3em;color:rgba(33,157,203,.7)}
#content .subPopup .subCloseBtn{position: absolute; top: -10px; right: -3px; display: block; overflow: hidden; width: 50px; font-size: 1.5em;
                                   height: 50px; padding: 9px 9px;color:rgba(33,157,203,.7);text-align: center;z-index: 90}

#content .subPopup h3{text-align: center;font-size: 1.2em; font-weight: 500; margin-top: 20px; color: #1b8ab3}
#content .subPopup h4{font-weight: 500;margin-bottom: 8px;color:#0c3c4e}

#content .subPopup.popup0 .top>span{text-align: center;font-weight: 500;color:#666;display: block;width:100%;margin-top: 8px}
#content .subPopup.popup0 .top ul{width:90%;margin: 40px auto}
#content .subPopup.popup0 .top ul li{font-size: .9em;overflow: hidden;margin: 8px 0;}
#content .subPopup.popup0 .top .circle{display: block;width:25%;height:30px;background: rgba(33,157,203,.4);
                                 margin: 0 auto;font-size: 1.2em;font-weight: 500;line-height: 30px;text-align: center;
                                 border-radius: 15px;border: 10px solid rgba(255,255,255,.5);float: left} 
#content .subPopup.popup0 .top .explain{display:block;margin-top:5px;width:65%;float: right}  
#content .subPopup.popup0 .top li:nth-child(2) .explain{display:block;margin-top: 13px}      

#content .subPopup.popup1 .top>span{text-align: center;font-weight: 500;color:#666;display: block;width:100%;margin: 8px 0 20px}
#content .subPopup.popup1 .top ul{width:85%;margin: 0 auto}
#content .subPopup.popup1 .top ul li{font-size: .9em;text-align: center;margin: 8px auto 25px}
#content .subPopup.popup1 .top .circle{display: block;height:40px;background: rgba(33,157,203,.4);
                                 margin: 0 auto;font-size: 1.2em;font-weight: 500;line-height:40px;
                                 border-radius: 20px;border: 10px solid rgba(255,255,255,.5)} 

#content .subPopup.popup1 .top .explain{display:block;margin-top: 8px}
                                               
#content .subPopup .bottom{overflow: hidden;background: #ecf3f5;padding:20px 0 100px}
#content .subPopup .bottom .content{margin: 30px 30px 0}
#content .subPopup .bottom .content p{font-size: .85em;text-align: justify;line-height: 2em;margin-bottom: 5px}
#content .subPopup .bottom .content .lastTitle{margin-top: 25px}