input:focus,select:focus{outline: none}
input::placeholder{color:#bbb}
input,select{border:none;box-sizing: border-box}

/* content영역 */
.contentArea{width:1200px;margin:0 auto;padding:80px 0 0}

.contentArea h3{font-size: 2em;padding:40px 0 0 60px;font-weight: 500;position:relative;color:#0c3c4e}
.contentArea h3::before{content:'';width:10px;height:10px;border-radius: 50%;
                         position: absolute;left:43px;top:43px;background:rgb(33,157,203)}
.summary{text-align: center;margin-bottom: 20px}

.writeContent{margin: 50px 0;padding-bottom: 130px;position:relative}
.writeContent .writeForm{border-bottom: 1px solid #999}

.writeContent .writeForm dl{overflow: hidden;border-bottom: 1px solid #ccc}
.writeContent .writeForm dl:last-child{border: none}
.writeContent .writeForm .user_info{border-top: 1px solid #999}
.writeContent .writeForm .user_info dd{padding:15px 36px 15px 20px}

.writeContent .writeForm dl dt{float: left;width:200px;background: #ecf3f5;display: block;padding:12px 20px;text-align: center}
.writeContent .writeForm dl dd{padding:12px 36px 12px 20px;margin-left: 240px}

.writeContent .writeForm dl dd .titleBox{width:100%;font-size: .85em;border: 2px solid #ccc;padding:5px}

.writeContent .writeForm .textBox dt{height:301px;box-sizing: border-box;width:240px}
.writeContent .writeForm .textBox dd{overflow: hidden}
.writeContent .writeForm .textBox dd div{display: block;margin-bottom: 15px}
.writeContent .writeForm .textBox dd textarea#board_content{border: 2px solid #ccc;width:100%;font-size: .85em;font-family: 'Noto Sans KR', sans-serif;box-sizing: border-box}

.writeContent .writeButton{position:absolute;right:10px;bottom:60px;overflow: hidden;}
.writeContent .writeButton a{margin: 0 2px;color:#fff;font-weight: 500;font-size: .9em;text-align: center;padding:5px 20px;background: #999}
.writeContent .writeButton input{margin: 0 2px;color:#fff;font-weight: 500;font-size: .9em;text-align: center;padding:6px 20px;background: #1b8ab3}

